on:
  pull_request:
  push:
    branches:
      - master

jobs:
  simple-self-test:
    runs-on: ubuntu-latest
    name: A job to test it can measure itself
    steps:
      - name: Start the measurement daemon
        uses: worldsender/stat-helper@v0.0.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v2
      - run: stat-helper-cli add --input test/samples.json
